<!DOCTYPE html>
<html lang="fr"></html>
<html>

	<head>
		<link rel="stylesheet" href="/css/master.css">
		<title>Fantastic-pic</title>
	</head>

	<body>

		{% include 'navbar.twig' %}

		<div class="content">
			<div id="gallery">
				<div id="infgallery">
					<div class="title">
						<h1>{{title}}</h1>
					</div>
					{% if admin == true %}
					<div class="buttons">
						<input type="button" value="Partager la galerie">
						<form action="/modifyGallery/{{id}}" method="get">
							<input type="submit" value="Modifier la galerie">
						</form>
						<form class="addimage" action="/addImage/{{id}}" method="get">
							<input type="submit" class="add" value="+">
						</form>
					</div>
					{% endif %}
					<div class="description">
						<p>Description :</p>
						<p>{{descr}}</p>
					</div>
					<div class="create">
						<label>Créateur :
							{{createur}}</label><br>
						<label>Date de création :
							{{date}}</label>
					</div>
					<div class="tags">
						<label>Tags :</label>
						{% for tag in tags %}
							<label>{{tag.getTag()}}</label>
						{% endfor %}
					</div>
					<div class="elements">
						<label>{{numbPic}}
							élément/s</label>
					</div>
				</div>

				<div id="mygallery">
					 {% for key, image in images %}
					 	<div class="image">
							<form class="suppimage" action="/gallery/{{id}}" method="post">
									<input  type="hidden" name="pictureId"  value="{{image.getIdPicture()}}"/>
									<input type="submit" class="add" value="x">
							</form>

							<a href="/gallery/{{id}}/picture/{{key}}">
								<img src="/{{image.getLink()}}">
							</a>
							<p class="titleImage">{{image.getTitle()}}</p>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>

	</body>

</html>
