<!DOCTYPE html>
<html lang="fr"></html>
<html>

	<head>
		<link rel="stylesheet" href="/css/master.css">
		<title>Fantastic-pic</title>
	</head>

	<body>

		{% include 'navbar.twig' %}

		<div class="content">
			<div id="gallery">
				<div id="infgallery">
					<div class="title">
						<h1>{{title}}</h1>
					</div>
					<div class="buttons">
						<input type="button" value="partager la galerie">
						<input type="button" value="modifier la galerie">
						<form class="addimage" action="/addImage/{{id}}" method="get">
							<input type="submit" class="add" value="+">
						</form>
					</div>
					<div class="description">
						<p>Description :</p>	
						<p>{{descr}}</p>
					</div>
					<div class="create">
						<label>Créateur : {{createur}}</label><br>
						<label>Date de création : {{date}}</label>
					</div>
					<div class="elements">
						<label>{{numbPic}} élément/s</label>
					</div>
				</div>

				<div id="mygallery">
					 {% for image in images %}
					 	<div class="image">
							<img src="/{{image.getLink()}}">
							<p class="titleImage">{{image.getTitle()}}</p>
						</div>
   					 {% endfor %}
				</div>
			</div>
		</div>

	</body>

</html>
